@mixin column-default-style {
    .#{var(container-classname)} > [class^="#{var(column-classname)}"] {
        box-sizing: border-box;
        position: relative;

        @include mobile {
            padding: var(column-padding-mobile);
        }

        @include desktop {
            padding: var(column-padding-desktop);
        }
    }
}