@mixin generate-container {
    .#{var(container-classname)} {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        margin: 0 auto;
        position: relative;
        max-width: var(container-maxWidth);

        @include mobile {
            padding: var(container-padding-mobile);
        }

        @include desktop {
            padding: var(container-padding-desktop);
        }
    }
}