@mixin set-column-width($viewport, $column-count) {
    $width: get-column-width($column-count);
    $number: convert-string-to-number($viewport);

    @if $number == 1 {
        @include mobile {
            width: $width;
        }
    }

    @else if $number == 2 {
        @include desktop {
            width: $width;
        }
    }
}