body {
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Mulish', sans-serif;
    padding: 1rem .25rem;

    &-btn {
        font-family: 'Lato', sans-serif;
    }
};

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
};