$config: (
    grid: (
        size: 12,
        breakpoint: (
            desktop: 992px
        )
    ),
    container: (
        classname: container,
        maxWidth: 1600px,
        padding: (
            mobile: 2px,
            desktop: 4px
        )
    ),
    column: (
        classname: col,
        postfix: (
            mobile: sm,
            desktop: lg
        ),
        padding: (
            mobile: 3px,
            desktop: 6px
        )
    )
);